{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Websig - Sanepar</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet-src.js" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin=""></script>

    
    <!--link rel="stylesheet" href="../../Leaflet/dist/leaflet.css" crossorigin=""/>
    <script src="../../Leaflet/dist/leaflet-src.js" crossorigin=""></script-->

        <script src="{% static 'mapas/L.TileLayer.BetterWMS.js' %}"></script>

        <script src="{% static 'mapas/plugins/L.Control.Pan.js' %}"></script>
        <script src="{% static 'mapas/plugins/L.Control.Zoomslider.js' %}"></script>
        <script src="{% static 'mapas/plugins/L.Control.MousePosition.js' %}"></script>
        <script src="{% static 'mapas/plugins/L.Control.Sidebar.js' %}"></script>
        <script src="{% static 'mapas/plugins/Leaflet.PolylineMeasure.js' %}"></script>
        <script src="{% static 'mapas/plugins/easy-button.js' %}"></script>
        <script src="{% static 'mapas/plugins/leaflet-providers.js' %}"></script>
        <script src="{% static 'mapas/plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js' %}"></script>
        <link rel="stylesheet" href="{% static 'mapas/plugins/L.Control.Pan.css' %}">
        <link rel="stylesheet" href="{% static 'mapas/plugins/L.Control.Zoomslider.css' %}">
        <link rel="stylesheet" href="{% static 'mapas/plugins/L.Control.MousePosition.css' %}">
        <link rel="stylesheet" href="{% static 'mapas/plugins/L.Control.Sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'mapas/plugins/Leaflet.PolylineMeasure.css' %}">
        <link rel="stylesheet" href="{% static 'mapas/plugins/easy-button.css' %}">
        <link rel="stylesheet" href="{% static 'mapas/plugins/leaflet-opencage/src/css/L.Control.OpenCageSearch.css' %}">
    <style type="text/css">
        html, body { width: 100%; height: 100%; margin: 0; }
        #map { width: 100%; height: 100%; }
        .leaflet-control-layers{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }


    </style>
</head>

<body>
 
    <div id="map"></div>
    <link rel="stylesheet" href="{% static 'mapas/L.Control.Layers.Tree.css' %}"/>
    <script src="{% static 'mapas/L.Control.Layers.Tree.js' %}"></script>

    <script type="text/javascript">
        var center = [-25.48744, -49.33771];

        var osm = L.tileLayer(
            '//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            {attribution: 'ITTI © OpenStreetMap'}
        );

        //var esri =  L.tileLayer.provider('Esri.WorldImagery');

        var esri = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'ITTI &copy;',
            opacity:0.7,
        });

        var map = L.map('map', {
            layers: [esri],
            center: center,
            zoom: 12,
            opacity: 0.2
        });

        var baseTree = {
            label: 'BASE',
            layer: esri,
            noShow: true,
            children: [
                {
                    label: 'Esri World Imagery',
                    layer: esri,
                    
                },

                 {
                    label: 'Open Street Map',
                    
                    layer: osm, name: 'OpenStreeMap '
                },
            ]
        };

        var ctl = L.control.layers.tree(baseTree, null,
            {
                collapsed: false,
                namedToggle: false,
                collapsed: true,
                autoZIndex: false,
            });

        ctl.addTo(map).collapseTree().expandSelected();

        var hasAllUnSelected = function() {
            return function(ev, domNode, treeNode, map) {
                var anySelected = false;
                function iterate(node)
                {
                    if (node.layer && !node.radioGroup) {
                        anySelected = anySelected || map.hasLayer(node.layer);
                    }
                    if (node.children && !anySelected) {
                        node.children.forEach(function(element) { iterate(element); });
                    }
                }
                iterate(treeNode);
                return !anySelected;
            };
        };

        var areas_geoserver = {
            label: 'Produtos',
            selectAllCheckbox: false,

            children: [
                /* start aiports from http://www.partow.net/miscellaneous/airportdatabase/#Download */

                
  //              {label: '<b>Limites Municipais</b>',
 //                   selectAllCheckbox: false,
 //                   layer: L.tileLayer.wms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Limites Municipais',transparent: true,format: 'image/png'}),
 //               },

  

                {label: '<b>GERAL</b>',
                    selectAllCheckbox: true,

                    children: [

                        {label: 'Perímetro de atuação da reserva Hídrica', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:PERIMETRO_DE_ATUACAO_DA_RESERVA_HIDRICA',transparent: true, tile: true, format: 'image/png'})},
                        {label: 'Hidrografia do alto Iguaçu', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Hidrografia do alto Iguaçu',transparent: true,tile: true,format: 'image/png'})},
                        {label: 'Reservatórios', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Reservatorios',transparent: true,tile: true,format: 'image/png'})},
                        {label: 'PR Rodovias', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:PR_rodovias',transparent: true,tile: true,format: 'image/png'})},
                        {label: 'Hidrografia interesse', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Hidrografia_interesse_linha',tile: true,transparent: true,format: 'image/png'})},
                        {label: 'Limites Municipais', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Limites Municipais',transparent: true,tile: true,format: 'image/png'})},
                        {label: 'Canal extravasor - Rio Iguaçu', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Canal_extravasor_Rio_Iguacu_UNILIVRE_UTM',transparent: true,tile: true,format: 'image/png'})},


                        {label: '<b>Wetlands (W)</b>',
                           selectAllCheckbox: true,
                           children: [
                                {label: 'W01', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W01',transparent: true,format: 'image/png'})},
                                {label: 'W02', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W02',transparent: true,format: 'image/png'})},
                                {label: 'W03', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W03',transparent: true,format: 'image/png'})},
                                {label: 'W04', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W04',transparent: true,format: 'image/png'})},
                                {label: 'W05', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W05',transparent: true,format: 'image/png'})},
                                {label: 'W06', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W06',transparent: true,format: 'image/png'})},
                                {label: 'W07', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W07',transparent: true,format: 'image/png'})},
                                {label: 'W08', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W08',transparent: true,format: 'image/png'})},
                                {label: 'W09', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W09',transparent: true,format: 'image/png'})},
                                {label: 'W010', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W10',transparent: true,format: 'image/png'})},
                                {label: 'W011', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W11',transparent: true,format: 'image/png'})},
                                {label: 'W012', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W12',transparent: true,format: 'image/png'})},
                                {label: 'W013', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W13',transparent: true,format: 'image/png'})},
                                {label: 'W014', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W14',transparent: true,format: 'image/png'})},
                                {label: 'W015', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:W15',transparent: true,format: 'image/png'})},
                            ]
                        },

                        {label: '<b>Reservas Naturais (RN)</b>',
                            selectAllCheckbox: true,
                            children: [
                                {label: 'RN01', layer: L.tileLayer.betterWms("https://sistemas.itti.org.br//geoserver/Sanepar/wms?",{layers: 'Sanepar:RN01',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN02', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wfs?', {layers: 'Sanepar:RN02',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN03', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wfs?', {layers: 'Sanepar:RN03',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN04', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wfs?', {layers: 'Sanepar:RN04',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN05', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wfs?', {layers: 'Sanepar:RN05',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN06', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:RN06',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN07', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:RN07',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN08', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:RN08',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN09', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:RN09',transparent: true,tile: true, format: 'image/png'})},
                                {label: 'RN10', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:RN10',transparent: true,tile: true, format: 'image/png'})},
                            ]
                        },
                       
                    ]
                },
                
                
                {label: '<b>Produto 2</b>',
                    selectAllCheckbox: true,
                     children: [

                        {label: '<b>RGB</b>',
                           selectAllCheckbox: true,
                           children: [
                                {label: 'RN01 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN01 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'RN02 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN02 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'RN04 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN04 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'RN06 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN06 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'RN07 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN07 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'RN09 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN09 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'RN10 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN10 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'W01 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W01 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'W05 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W05 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'W07 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W07 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'W08 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W08 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'W15 - RGB', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W15 - RGB',transparent: true,format: 'image/png'})},
                            ]
                        },

                        {label: '<b>MDS e DEM</b>',
                           selectAllCheckbox: true,
                           children: [
                                {label: 'RN01 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN01 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN02 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN02 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN03 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN03 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN04 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN04 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN06 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN06 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN07 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN07 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN09 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN09 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'RN10 - MDS', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:RN10 - MDS',transparent: true,format: 'image/png'})},
                                {label: 'W01 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W01 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W06 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W06 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W07 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W07 - RGB',transparent: true,format: 'image/png'})},
                                {label: 'W09 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W09 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W11 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W11 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W13 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W13 - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W14B - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W14B - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W14C - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W14C - DEM',transparent: true,format: 'image/png'})},
                                {label: 'W15 - DEM', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W15 - DEM',transparent: true,format: 'image/png'})},
                            ]
                        },              

                        {label: '<b>NDVI</b>',
                           selectAllCheckbox: true,
                           children: [
                                {label: 'W01_NDVI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W01_NDVI',transparent: true,format: 'image/png'})},
                                {label: 'W07 - NDVI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W07 - NDVI',transparent: true,format: 'image/png'})},
                                {label: 'W08B - NDVI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W08B - NDVI',transparent: true,format: 'image/png'})},
                                {label: 'W13 - NDVI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W13 - NDVI',transparent: true,format: 'image/png'})},
                                {label: 'W15 - DNVI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:W15 - DNVI',transparent: true,format: 'image/png'})},
                            ]
                        },       



                    ]
                },

                {label: '<b>Produto 3</b>',
                    selectAllCheckbox: true,
                    layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:P3',transparent: true,format: 'image/png'}),
                           children: [
                                {label: 'APP dentro do zoneamento AIERI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:APP dentro do zoneamento AIERI',transparent: true,format: 'image/png'})},
                                {label: 'Área de contribuição alto iguaçu', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Área de contribuição alto iguaçu',transparent: true,format: 'image/png'})},
                                {label: 'Assentamentos - Uso habitacional proibido conforme Plano Diretor da AIERI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Assentamentos - Uso habitacional proibido conforme Plano Diretor da AIERI',transparent: true,format: 'image/png'})},
                                {label: 'Uso e cobertura do solo a partir do zoneamento AIERI', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Uso e cobertura do solo a partir do zoneamento AIERI',transparent: true,format: 'image/png'})},

                                {label: 'Zoneamento Balsa Nova1', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento Balsa Nova1',transparent: true,format: 'image/png'})},
                                 {label: ' Zoneamento Porto Amazonas', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento Porto Amazonas',transparent: true,format: 'image/png'})},
                                  {label: 'Zoneamento de Contenda', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Contenda',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento de Lapa', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Lapa',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento de Pinhais', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Pinhais',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento da APA do Iguaçu', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento da APA do Iguaçu',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento de São José dos Pinhais', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de São José dos Pinhais',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento de Piraquara', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Piraquara',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento de Fazenda Rio Grande', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Fazenda Rio Grande',transparent: true,format: 'image/png'})},
                                   {label: 'Zoneamento de Curitiba', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Curitiba',transparent: true,format: 'image/png'})},
                                    {label: 'Zoneamento de Araucária', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento de Araucária',transparent: true,format: 'image/png'})},
                                     {label: 'Zoneamento Porto Amazonas', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Zoneamento Porto Amazonas',transparent: true,format: 'image/png'})},
                                      {label: 'Perímetro de atuação nos municipios', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br/geoserver/Sanepar/wms?', {layers: 'Sanepar:Perimetro de atuação nos municipios',transparent: true,format: 'image/png'})},

                            ]
                },

                {label: '<b>Produto 4</b>',
                    selectAllCheckbox: false,
                    layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:P4',transparent: true,format: 'image/png'}),
                },

                {label: '<b>Produto 5</b>',
                    selectAllCheckbox: false,
                    layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:P5',transparent: true,tile:true,format: 'image/png'}),
                     children: [
                        {label: 'Situação de imageamento da batimetria', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Situação de imageamento da batimetria',transparent: true,format: 'image/png'})},
                        {label: 'Curva de Nível', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Curva_de_nivel',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Fluxo de drenagem', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Fluxo_de_drenagem',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Batimetria com Seções', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Batimetria_com_Seções',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Localização ETEs', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Localizacao_ETEs',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Pontos de Monitoramento de Qualidade da Água - Sanepar 2024', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:PONTOS_MONITORAMENTO_DE_QUALIDADE_AGUA_SANEPAR_2024',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Pontos de qualidade da água', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Pontos de qualidade da água SANEPAR_2025',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Pontos de Monitoramento Sanepar Iguaçu 1', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Pontos_de_Monitoramento_SANEPAR_iguaçu',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Pontos de Monitoramento Sanepar Iguaçu 2', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Pontos_de_monitoramento_SANEPAR_iguacu1',transparent: true,tile:true,format: 'image/png'})},
                    ]
                },

                {label: '<b>Produto 6</b>',
                    selectAllCheckbox: true,
                    layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:P6',transparent: true,tile:true,format: 'image/png'}),
                     children: [
                        {label: 'Acesso para Wetlands', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Acesso para Wetlands',transparent: true,format: 'image/png'})},
                        {label: 'Estacoes fluvio identificadas', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Estacoes fluvio identificadas',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Estações fluviométricas selecionadas', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Estações fluviométricas selecionadas',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Estações pluviométricas identificados', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Estações pluviométricas identificados',transparent: true,tile:true,format: 'image/png'})},

                        {label: 'Wetlands Final', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Wetlands Final',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Wetlands', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Wetlands',transparent: true,tile:true,format: 'image/png'})},

                    ]
                },

                {label: '<b>Produto 7</b>',
                    selectAllCheckbox: true,
                    layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:P7',transparent: true,tile:true,format: 'image/png'}),
                     children: [
                        {label: 'Seções', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:secoes',transparent: true,format: 'image/png'})},
                        {label: 'Seções de interesse', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Seções de interesse',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Rio', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:rio',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Flowpaths', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:flowpaths',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Bancos', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:bancos',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Seções de interesse', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Seções de interesse',transparent: true,tile:true,format: 'image/png'})},
                        {label: 'Pontos de verificação', layer: L.tileLayer.betterWms('https://sistemas.itti.org.br//geoserver/Sanepar/wms?', {layers: 'Sanepar:Pontos de verificação',transparent: true,tile:true,format: 'image/png'})},

                    ]
                },

            ]
        };


        var ctl2 = L.control.layers.tree(null, areas_geoserver,
            {
                namedToggle: false,
                collapseAll: '[-] Minimizar',
                expandAll: '[+] Expandir',
                collapsed: false,
                autoZIndex: false,
                position: 'topleft',
            });

        ctl2.addTo(map).collapseTree().expandSelected();

        /* ends aiports */
        var makePopups = function(node) {
            if (node.layer) {
                node.layer.bindPopup(node.label);
            }
            if (node.children) {
                node.children.forEach(function(element) { makePopups(element); });
            }
        };
        makePopups(areas_geoserver);

        ctl2.setOverlayTree(areas_geoserver).collapseTree(true).expandSelected(true);

                        ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(map);
                
                ctlMeasure = L.control.polylineMeasure().addTo(map);


                $.ajax('https://sistemas.itti.org.br//geoserver/Sanepar/wfs?',{
                    type: 'GET',
                    data: {
                      service: 'WFS',
                      version: '1.1.0',
                      request: 'GetFeature',
                      typename: 'Sanepar:RN01',
                      CQL_FILTER: "column='demo'",
                      srsname: 'EPSG:4326',
                      outputFormat: 'text/javascript',
                      },
                    dataType: 'jsonp',
                    jsonpCallback:'callback:handleJson',
                    jsonp:'format_options'
                   });
                    //Geojson style file
                    var myStyle = {
                      'color': 'red'
                    }
                  // the ajax callback function
                  function handleJson(data) {
                      selectedArea = L.geoJson(data, {
                        style: myStyle,
                        onEachFeature: function(feature, layer) {
                          layer.bindPopup(`Name: ${feature.properties.name_of_your_property}`)
                        }
                      }).addTo(map);
                    map.fitBounds(selectedArea.getBounds());
                  }


    </script>
</body>
</html>
